name: prow-automerge

on:
  pull_request:
    types: [labeled, unlabeled, synchronize]
  issue_comment:
    types: [created]

permissions:
  contents: write
  pull-requests: write
  issues: write

jobs:
  automerge:
    runs-on: ubuntu-latest
    steps:
      - name: Automerge PR
        uses: jpmcb/prow-github-actions@v2.0.0
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          prow-commands: automerge
