name: Run Jobs on PR
on:
  pull_request:

permissions:
  contents: read

jobs:
  execute:
    runs-on: ubuntu-latest
    steps:
      - uses: jpmcb/prow-github-actions@v2.0.0
        with:
          jobs: "lgtm"
          github-token: "${{ secrets.GITHUB_TOKEN }}"
